.banner {
    display: flex;
    background-color: rgb(87, 98, 136);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 1359px;
    height: 474px;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 178px;

}



.heading {
    font-family: 'Poppins';
    font-size: 48px;
    line-height: 73PX;
    margin-block: -50px
}

.heading-details {
    font-family: 'Poppins';

    font-size: 24px;
    margin-block: -13px
}

.watch-live {
    color: rgb(245, 241, 241);
    background-color: rgb(179, 54, 54);
    border-radius: 5px;
    border-color: dimgray;
    height: 38px;
    width: 150px;
    font-family: 'Poppins';
    font-size: 16px;
    transition: transform 1s ease-in-out;
}

.watch-live:hover {
    transform: translateX(40px);
}

.neymar {
    width: 300px;
    height: 450px;
    margin-left: 140px;




}



.menu-button {
    margin-left: 179px;
    padding: 1.5%;
    border-style: none;
    width: 189px;
    height: 200px;
    margin-top: 5%;
    background-color: rgb(87, 98, 136);
    border-radius: 5%;

}


.button-1 {
    height: 50px;
    width: 180px;
    font-family: 'Poppins';

    border-radius: 5px;
    border-color: dimgray;
    font-size: 16px;
    margin-block: 8px;
    margin-left: 4px;

}


.button-2 {
    height: 50px;
    width: 180px;
    font-family: 'Poppins';
    border-radius: 5px;
    border-color: dimgray;
    font-size: 16px;
    margin-block: 8px;
    display: block;
    margin-left: 4px;
}

.button-3 {
    height: 50px;
    width: 180px;
    font-family: 'Poppins';
    border-radius: 5px;
    border-color: dimgray;
    font-size: 16px;
    margin-block: 8px;
    margin-left: 4px;
    color: rgb(245, 241, 241);
    background-color: rgb(179, 54, 54);
}

.Blog-content .thumbnail img {
    width: 312px;
    height: 175px;
}

.Blog-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    font-family: 'Poppins';
    font-size: 10px;
    margin-left: 0px;
    margin-top: 5%;
}




.Menu {
    display: flex;
    gap: 2rem;
}

.Contents {
    box-shadow: 5px;
    border-radius: 12px;
    background-color: #dadee2;
    padding: 15px
}

footer {
    background-color: rgb(87, 98, 136);
    padding: 5rem;
    text-align: center;
    font-family: 'Poppins';
    margin-left: 179px;
    width: 1300px;
    margin-top: 5%;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

}

nav ul li a {
    text-decoration: none;
    color: black;
    opacity: 0.8;
    font-size: 0.9rem;
}

.Social-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    gap: 1rem;

}

.button-for-tablet {
    display: none;
}



/* ----------------Media Query------------------------------------ */
/* ---------------Mobile Devices------------------------------------ */




@media only screen and (max-width: 688px) {
    .banner {
        background-color: rgb(87, 98, 136);
        width: 100%;
        display: block;


        margin-left: 0px;
        height: 966.5px;

    }

    .neymar {
        width: 100%;

        margin-left: 5px;
    }

    .heading {
        font-family: 'Poppins';
        font-size: 42px;
        line-height: 73PX;

        margin-left: 10px;
    }

    .heading-details {
        margin-left: 10px;
    }

    .watch-live {
        margin-left: 120px;
    }

    .menu-button {
        border-radius: 10px;
        margin-left: 0px;
        width: 367px;
        height: 200px;


    }

    .button-1 {
        height: 50px;
        width: 300px;
        font-family: 'Poppins';

        border-radius: 5px;
        border-color: dimgray;
        font-size: 16px;
        margin-block: 8px;
        margin-left: 30px;

    }

    .button-2 {
        height: 50px;
        width: 300px;
        font-family: 'Poppins';

        border-radius: 5px;
        border-color: dimgray;
        font-size: 16px;
        margin-block: 8px;
        margin-left: 30px;

    }

    .button-3 {
        height: 50px;
        width: 300px;
        font-family: 'Poppins';
        border-radius: 5px;
        border-color: dimgray;
        font-size: 16px;
        margin-block: 8px;
        margin-left: 30px;
        color: rgb(245, 241, 241);
        background-color: rgb(179, 54, 54);
    }

    .Menu {
        display: block;


    }


    .Blog-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        width: 381px;
        margin-left: 0px;


    }

    .Contents {
        box-shadow: 10px;
        border-radius: 12px;
        background-color: #dadee2;
        padding: 40px
    }



    footer {
        background-color: rgb(87, 98, 136);
        padding: 5rem;
        text-align: center;
        /* justify-content: center; */
        font-family: 'Poppins';
        margin-left: 0px;
        width: 238px;
        margin-top: 5%;

    }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        text-align: justify;
    }


}


/* ----------------Media Query------------------------------------ */
/* --------------Tablet Devices------------------------------------ */

@media only screen and (min-width:689px) and (max-width:992px) {

    .banner {
        background-color: rgb(87, 98, 136);
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;

    }

    .neymar {
        margin-left: 50px;
        width: 100%;
    }

    .heading {
        font-family: 'Poppins';
        font-size: 30px;
        line-height: 50PX;

        margin-left: 10px;
    }

    .heading-details {
        margin-left: 10px;
        font-size: 20px;
        padding: 2px;
    }

    .watch-live {
        margin-left: 10px;
    }

    .menu-button {
        margin-left: 0px;
        padding: 1.5%;
        border-style: none;
        width: 189px;
        height: 200px;
        margin-top: 5%;
        background-color: rgb(87, 98, 136);
        border-radius: 5%;

    }

    .Blog-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 385px;
        margin-left: 0px;


    }

    .Menu {
        display: block;
    }

    .menu-button {
        display: flex;
        margin-left: 0px;
        padding: 1.5%;
        border-style: none;
        width: 770px;
        height: 68px;
        margin-top: 5%;
        background-color: rgb(87, 98, 136);
        border-radius: 0%;
    }



    .button-1 {
        height: 50px;
        width: 300px;
        font-family: 'Poppins';

        border-radius: 5px;
        border-color: dimgray;
        font-size: 16px;
        margin-block: 8px;
        margin-left: 0px;

    }

    .button-3 {
        height: 50px;
        width: 300px;
        font-family: 'Poppins';

        border-radius: 5px;
        border-color: dimgray;
        font-size: 16px;
        margin-block: 8px;
        margin-left: 0px;

    }

    .Contents {
        box-shadow: 10px;
        border-radius: 12px;
        background-color: #dadee2;
        padding: 35px
    }

    .button-for-tablet {
        display: block;
        height: 50px;
        width: 180px;
        font-family: 'Poppins';
        border-radius: 5px;
        border-color: dimgray;
        font-size: 16px;
        margin-block: 8px;
        margin-left: 300px;
        color: rgb(245, 241, 241);
        background-color: rgb(179, 54, 54)
    }

    footer {
        background-color: rgb(87, 98, 136);
        padding: 5rem;
        text-align: center;

        font-family: 'Poppins';
        margin-left: 0px;
        width: 630px;
        margin-top: 5%;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
    }
}